<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-promise"
        version="1.0.0">

  <name>Promise Plugin</name>
  <description>A Cordova plugin for adding Promise support.</description>
  <author>Joshua McFarland</author>
  <license>MIT</license>
  <keywords>cordova,promise</keywords>

  <engines>
    <engine name="cordova" version=">=6.0.0" />
  </engines>

  <js-module src="libs/bluebird-3.5.0.min.js" name="PromisePlugin">
    <runs />
  </js-module>

</plugin>
